body{
	background-color: #E87B07;

}

.Submit{
    background-color: black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;     

}

.Back{
    background-color: blue;
    color:black;
    clear:both;
    text-align:center;
    padding:5px;  
    width: 100px;
    height: 40px;   

}

.SuccessView{

    line-height:50px;
    background-color:#000000;
    width:68%;
    height:400px;
    float:left;
    padding:5px;
    color: white;

}