body{
	background-color: white;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
.Header{
	background-color: #03759C;
	color: white;
	text-align: center;
	padding: 5px;
}
.nav{

	line-height:50px;
    background-color:#eeeeee;
    height:400px;
    width:30%;
    float:left;
    padding:5px;

}
.Logo{
     float:left;
     padding:10px;
}

.Content{
	line-height:50px;
    background-color:#000000;
    width:68%;
    height:400px;
    float:left;
    padding:5px;
    color: white;
}

.footer {
    background-color: #E87B07;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;	 	 
}
.button{

    background-color: #E87B07;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;     

}